# Compiled assets
node_modules/
/vendor/
dist
tsconfig.tsbuildinfo
css-variables.json

# OS Files
.DS_Store

# dotenv
.env

# log files
*.log

# X files
*.Xlock
*.Xjson

# generated iconfont files
/assets/resources/css/iconfont/
/assets/resources/css/helpers/_icon-variables.scss

# yarn generated lock file
yarn.lock
