@use "helpers/init" as *;

blockquote {
	position: relative;
	margin-inline: 0;
	padding-block: $spacing-lg;
	padding-left: rv(64, 98.5);
	border-block: 1px solid var(--general-line);

	&::after {
		content: "";
		position: absolute;
		top: $spacing-lg;
		left: 0;
		display: flex;
		width: rv(37, 62.5);
		height: rv(30, 50);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='63' height='51' viewBox='0 0 63 51' fill='none'%3E%3Cpath d='M24.497 1.73379C24.498 1.73372 24.499 1.73365 24.5 1.73357V12.2137C21.6806 12.3638 19.4579 13.1492 17.7187 14.3086C15.7852 15.5976 14.5086 17.3092 13.6681 18.9903C12.8295 20.6675 12.4151 22.3326 12.2089 23.57C12.1054 24.191 12.0533 24.7108 12.027 25.0791C12.0138 25.2635 12.0071 25.4105 12.0036 25.5138C12.0019 25.5655 12.001 25.6063 12.0005 25.6355L12.0001 25.6705L12 25.6813L12 25.685L12 25.6864C12 25.687 12 25.6875 13 25.6875H12V26.6875H13H24.5V49.6875H1.5V25.6875C1.5 19.6125 3.01588 15.1227 5.2383 11.7891C7.46489 8.44919 10.4408 6.21011 13.4472 4.70693C16.4575 3.20178 19.4799 2.44423 21.7581 2.06452C22.8949 1.87506 23.84 1.78072 24.497 1.73379ZM50.5 25.6875H49.5V26.6875H50.5H62V49.6875H39V25.6875C39 19.6125 40.5159 15.1227 42.7383 11.7891C44.9649 8.44919 47.9408 6.21011 50.9472 4.70693C53.9575 3.20178 56.9799 2.44423 59.2581 2.06452C60.3949 1.87506 61.34 1.78072 61.997 1.73379C61.998 1.73372 61.999 1.73365 62 1.73357V12.2137C59.1806 12.3638 56.9579 13.1492 55.2187 14.3086C53.2852 15.5976 52.0086 17.3092 51.1681 18.9903C50.3295 20.6675 49.9151 22.3326 49.7089 23.57C49.6054 24.191 49.5533 24.7108 49.527 25.0791C49.5138 25.2635 49.5071 25.4105 49.5036 25.5138C49.5019 25.5655 49.501 25.6063 49.5005 25.6355L49.5001 25.6705L49.5 25.6813L49.5 25.685L49.5 25.6864C49.5 25.687 49.5 25.6875 50.5 25.6875Z' stroke='%2381828E' stroke-width='2'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	> * {
		margin-bottom: 0 !important;
	}
}
