@use "sass:meta";
@use "helpers/init" as *;

.editor-styles-wrapper {
	@include meta.load-css("style");

	.block-form-cta {
		&__content {
			width: 100%;
		}

		&__form {
			width: 100%;
		}

		&__supertext {
			padding-inline: r(30);
		}

		.edit-acf-block {
			height: 100%;
		}
	}
}
