@use "helpers/init" as *;

.password-form {
	&__wrapper {
		max-width: cols-max(4);
		margin-inline: auto;
	}

	&__content {
		display: flex;
		flex-direction: column;
		row-gap: $spacing-xs;
		align-items: center;
		text-align: center;

		[class*="icon-"] {
			display: flex;
			font-size: r(48);
		}
	}

	&__title,
	&__subtitle {
		margin: 0;
	}

	&__form {
		margin-top: $spacing-lg;
	}

	&__error {
		@include body-small;
		margin-top: $spacing-xs;
		color: var(--text-warning);
		text-align: center;
	}
}

.post-password-form {
	display: flex;

	&__label {
		@include action-form-label(false);
		display: flex;
		flex: 1 0 0;
		align-items: center;
		margin-right: $spacing-xs;
	}

	&__input {
		@include input-reset;
		width: 100%;
		height: $form-height;
		padding: $spacing-2xs $spacing-xs;
		border: 1px solid var(--general-line);
		border-radius: $border-radius 0 0 $border-radius;
		background: var(--general-box-bg);
	}

	&__submit {
		@include input-reset;
		@include action-button(false);
		height: $form-height;
		padding: $spacing-2xs $spacing-xs;
		color: var(--buttons-primary-text);
		border-radius: 0 $border-radius $border-radius 0;
		background: var(--buttons-primary-bg);
	}
}
